@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 60% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 231 60% 85%;
    --muted-foreground: 224 71% 25%;
    --accent: 260 45% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 88%;
    --input: 231 48% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 260 45% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 231 60% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 60% 92%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 231 48% 88%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 231 60% 94%;
    --card: 224 71% 8%;
    --card-foreground: 231 60% 94%;
    --popover: 224 71% 4%;
    --popover-foreground: 231 60% 94%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 71% 12%;
    --secondary-foreground: 231 60% 94%;
    --muted: 224 71% 12%;
    --muted-foreground: 231 60% 70%;
    --accent: 260 45% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 260 45% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 6%;
    --sidebar-foreground: 231 60% 94%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 12%;
    --sidebar-accent-foreground: 231 60% 94%;
    --sidebar-border: 224 71% 15%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
